
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    <a type="button" class="btn btn-info active  btn-xs" href="@Url.Action("Index")">
    <span class="glyphicon glyphicon-arrow-left">
    
    </a>
}
